{% extends 'main_app/base.html' %}

{% block title %} Регистрация {% endblock %}


{% block content %}
<h1 class="text-center">Регистрация</h1>
<div class="col-12 text-center">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form class="row pt-4" method="post">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Создание пользователя
                        </h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="mt-2 btn btn-light fw-bold border-white bg-white">
                            Регистрация
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}